.console{
	position: fixed;
	top: 20%;
	color: rgb(105, 85, 236);
}

.subscriber{
	display:flex;
	flex-direction: column;
	overflow-y: scroll;
	justify-content: center;
	align-items: center;
    position: fixed;
	height: 50%;
	width: 75%;
	background-color: rgb(72, 77, 83);
	color: rgb(173, 193, 199);
	top: 15%;
	/* left: 10px; */
	border-radius: 10px; 
}

.subscriber ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.subscriber li {
	padding: 0 0.5rem;
}