[Unit]
Description=OiO
After=network.target

[Service]
ExecStart=/usr/bin/node server.js
WorkingDirectory=/home/$USER/OceanIsOpen/systools
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
